@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["Message"] is not null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<h1 class="emp-page-left">All Emplooyees</h1>
<br />
<br />
<a href="/Employee/Create" class="btn btn-primary">Create New Employee</a>
<br />
<br />
<div class="emp-page-left row justify-content-center align-content-center">
    <form class="row col-8 offset-1">
        <div class="col-8">
            <input type="text" class="form-control" name="SearchValue" placeholder="Search Name...."/>
        </div>
        <div class="col-4">
            <input class="btn btn-success" type="submit" value="Search" />
        </div>
    </form>
</div>
<br />

@if(Model.Count() > 0)
{
    <table class="w-75 table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                Department
            </th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>


@foreach (var item in Model) {
        <tr>
            <td class="pt-3">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="pt-3">
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td class="pt-3">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td class="pt-3">
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td class="pt-3">
                @if(item.IsActive)
                {
                    <i class="fa-solid fa-circle" style="color: green"></i>
                }
                else
                {
                    <i class="fa-solid fa-circle" style="color: red"></i>                                                            
                }
            </td>
            <td class="pt-3">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="pt-3">
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td class="pt-3">
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td class="pt-3">
                <img src="~/images/@item.ImageName" class="img-fluid rounded" alt="Employee Image" height="30" width="30">
            </td>
            <td class="pt-3">
                @Html.DisplayFor(modelItem => item.Department.Code)
            </td>
            <partial name="_ButtonsPartialView" model="@item.Id.ToString();">
        </tr>
}
    </tbody>
</table>
}
else 
{
    <div class="mt-5 alert alert-warning">
        <h2>There is no Employees!</h2>
    </div>
}
<script>
    const container = document.querySelectorAll(".container")[1]
    container.style.marginLeft = "1.5rem"
</script>
