@model IEnumerable<RoleViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="secondary-main">
    
    <h1>All Roles</h1>
    <br />
    <br />
    <a asp-action="Create" class="btn btn-primary">Create New Role</a>
    <br />
    <br />
    <div class="row justify-content-center align-content-center">
        <form class="row col-8 offset-1">
            <div class="col-8">
                <input type="text" class="form-control" name="Name" placeholder="Search Name...."/>
            </div>
            <div class="col-4">
                <input class="btn btn-success" type="submit" value="Search" />
            </div>
        </form>
    </div>
    <br />

    @if(Model.Count() > 0)
    {
        <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleName)
                </th>
               
                <th>Edit</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>


    @foreach (var user in Model) {
            <tr>
                <td class="pt-3">
                    @user.Id
                </td>
                <td class="pt-3">
                    @user.RoleName
                </td>
               <partial name="_ButtonsPartialView" model="@user.Id">
            </tr>
    }
        </tbody>
    </table>
    }
    else 
    {
        <div class="mt-5 alert alert-warning">
            <h2>There is no Roles!</h2>
        </div>
    }

</div>

